@model IEnumerable<BookLibraryExam.Models.Book>

@{
    ViewData["Title"] = "menue book";
}

<h1>menue book</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add new book</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Author)</th>
            <th>@Html.DisplayNameFor(model => model.First().ISBN)</th>
            <th>@Html.DisplayNameFor(model => model.First().PublicationYear)</th>
            <th>procedures</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.ISBN</td>
                <td>@book.PublicationYear</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@book.Id" class="btn btn-warning btn-sm">Edit</a>
                    <form asp-action="Delete" asp-route-id="@book.Id" method="post" style="display:inline" onsubmit="return confirm('Are you sure you want to delete the book؟');">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
